@import "tailwindcss";

/* .banner{
  background-image: url("/assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
} */

/* responsive design */
@media screen and (max-width: 576px){
  #name,
  .hamburger{
    display:inline ;
    margin: 15px;
  }
   .header{
    max-width: 576px;
    background-image: url("/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
   }
    .subscribe-btn, 
    .menus,
    .images{
    display: none;
  }
  
  #circle{
    position:absolute ;
    width: 100%;
    height: 100%;
    top: -15rem;
    left: 8.5rem;
    right:9.5rem;
  }
  #microphone, 
  #badge {
    position: relative;
    transform: translate(0, 0) !important;
    display: block;
    margin: 0 auto;
    left: auto;
    right: auto;
  }
  #microphone {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50px;
    left: -420px;
    white-space: nowrap;
  }
  #badge {
    position: absolute;
    top: 150px;
    left: -290px;
    white-space: nowrap;
}
/* about */
.about-content{
  padding: 10px;
}
  .card-box{
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}


/* 576px – 991px medium device*/
@media screen and (min-width: 577px) and (max-width: 992px) {
  .menus{
    gap: 10px;
  }
   .hamburger{
    display: none;
  }
  #circle{
    position:absolute ;
    width: 100%;
    height: 100%;
    top: -13rem;
    left: 20.5rem;
    right:9.5rem;
  }
  #microphone, 
  #badge {
    position: relative;
    transform: translate(0, 0) !important;
    display: block;
    margin: 0 auto;
    left: auto;
    right: auto;
  }
  #microphone {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50px; 
    left: -230px;
    white-space: nowrap;
  }
  #badge {
    position: absolute;
    top: 160px;
    left: -100px;
    white-space: nowrap;
}
/* about */
.about-content{
  padding: 20px;

}
.card-box{
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
 }
  
}

/* 992px+ large device */
@media screen and (min-width:993px ) {
  #navbar{
    padding:16px 200px ;
    margin: 0 auto;
    
  }
  .subscribe-btn{
    margin-left: 120px;
  }
  .hamburger{
    display: none;
  }
}
